<form method="POST" action="/register">
  <label for="email">Email: </label>
  <input type="email" name="email" placeholder="email@email.com" >
  <label for="password">Password: </label>
  <input type="password" name="password" placeholder="password" >
  <button type="submit">Register</button>
</form>